* {
    margin: 0;
    padding: 0;
}


/*paginas*/

body {
    /*display: flex;*/
    background-color: rgb(121, 99, 26);
    font-family: 'Open Sans', sans-serif;
    width: 1024px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-shadow: aquamarine 1px 2px 3px;
}

.cuadro {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    text-align: center;
   
    
}
    .cuadro img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }



/*---------galeria----------*/

.body_galeria {
    background-color: rgba(129, 77, 12, 0.541);
}


/*---------contacto--------*/

.body_contacto {
    background-color: darkgreen;
}


/*--------formulario-------*/

.body_form {
    background-color: darkslategray;
    width: 1024px;
}


/*---general---menu de navegacion----recuadro -estilo*/

.navbar {
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgb(18, 155, 13);
    padding: 2%;
    text-align: right;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
}


/* ancho */

ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}


/* colocar el simbolo (/) entre los items de la lista */

ul.breadcrumb li+li::before {
    padding: 8px;
    color: black;
    content: "/";
}


/* color a los items y eliminacion de decoracion*/

ul.breadcrumb li a {
    color: #0b38b3;
    text-decoration: none;
}


/* color sobre el items con el mouse arriba
y señalamiento de link*/

ul.breadcrumb li a:hover {
    color: #0d77d4;
    text-decoration: underline;
}


/*seccion propaganda*/
.propaganda {
    animation-duration: 10s;
    animation-name: propaganda;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: linear;
  }
  
  @keyframes propaganda {
    from {
        transform: translateX(0px);
    }
    
    to {
        transform: translateX(260px);
   }
  }
