* {
    margin: 0;
    padding: 0;
}


/*paginas*/

body {
    /*display: flex;*/
    background-color: rgb(121, 99, 26);
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
    text-shadow: aquamarine 2px 3px 4px;
}

.cuadro {
    box-sizing: border-box;
    border-width: 1024px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    margin: 0 auto;
}

.cuadro img {
    width: 400px;
    height: 250px;
    border-radius: 2%;
}


/*---------galeria----------*/
.body_galeria {
    background-color: rgba(129, 77, 12, 0.541);
}
/*---------contacto--------*/
.body_contacto {
    background-color: darkgreen;
}
/*--------formulario-------*/
.body_form {
    background-color: darkslategray;
}


/*---general---menu de navegacion----recuadro -estilo*/

.navbar {
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgb(18, 155, 13);
    padding: 2%;
    text-align: right;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
}


/* ancho */

ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}


/* colocar el simbolo (/) entre los items de la lista */

ul.breadcrumb li+li::before {
    padding: 8px;
    color: black;
    content: "/";
}


/* color a los items y eliminacion de decoracion*/

ul.breadcrumb li a {
    color: #0b38b3;
    text-decoration: none;
}


/* color sobre el items con el mouse arriba
y señalamiento de link*/

ul.breadcrumb li a:hover {
    color: #0d77d4;
    text-decoration: underline;
}


/*seccion propaganda*/

.propaganda {
    border: 1px solid rgb(91, 138, 22);
    width: 97%;
}